<!DOCTYPE html>
<html lang="en">

<head>
    <!-- {% load staticfiles -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Onedrive Files Clustering</title>
    <script src="/static/jquery-2.1.4.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/creative.css" type="text/css">
    <script type="text/javascript" src="/static/Chart.js"></script>
    <script id="odauth" src="/static/js/odauth.js"
       clientId="000000004016F5E2" scopes="onedrive.readonly wl.signin"
       redirectUri="https://onedrive.github.io/odx/callback.html"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Classify Files</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">Organise</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Categories</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/static/js/wow.min.js">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Your Favorite Source for Files Organisation</h1>
                <hr>
                <p>You are just a click away to clutterless heaven. Organise your OneDrive files into folders which are easy to remember.</p>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="organise">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <span  id ="organiseNow" class="btn btn-default btn-xl" onclick='odauth();'>Organise!</span>
                    <hr class="light">
                    <canvas id="myChart" width="300" height="300" style='display:none;'></canvas>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-3 col-sm-6">
                    <a href="#arts" class="portfolio-box">
                        <img src="/static/img/portfolio/art_icon.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Arts
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#business" class="portfolio-box">
                        <img src="/static/img/portfolio/business_icon.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Business
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#computers" class="portfolio-box">
                        <img src="/static/img/portfolio/computer_icon.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Computers
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#health" class="portfolio-box">
                        <img src="/static/img/portfolio/health_icon.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Health
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#home" class="portfolio-box">
                        <img src="/static/img/portfolio/home_icon.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Home
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#games" class="portfolio-box">
                        <img src="/static/img/portfolio/game_icon.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Games
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
               <div class="col-lg-3 col-sm-6">
                    <a href="#recreation" class="portfolio-box">
                        <img src="/static/img/portfolio/recreation_icon.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Recreation
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#science" class="portfolio-box">
                        <img src="/static/img/portfolio/science_icon.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Science
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#sports" class="portfolio-box">
                        <img src="/static/img/portfolio/sport_icon.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Sports
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="#society" class="portfolio-box">
                        <img src="/static/img/portfolio/social_icon.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Society
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary" id="Arts">
        <div class="container">
            <h1>Arts:</h1>
            <div class=" list arts">
            </div>
        </div>
    </section>

    <section class="bg-primary" id="Business">
        <div class="container">
            <h1>Business:</h1>
            <div class=" list business">
            </div>
        </div>
    </section>

    <section class="bg-primary" id="Computers">
        <div class="container">
            <h1>Computers:</h1>
            <div class=" list computers">
            </div>
        </div>
    </section>

    <section class="bg-primary" id="Health">
        <div class="container">
            <h1>Health:</h1>
            <div class=" list health">
            </div>
        </div>
    </section>

    <section class="bg-primary" id="Home">
        <div class="container">
            <h1>Home:</h1>
            <div class=" list home">
            </div>
        </div>
    </section>

    <section class="bg-primary" id="Games">
        <div class="container">
            <h1>Games:</h1>
            <div class=" list games">
            </div>
        </div>
    </section>

    <section class="bg-primary" id="Recreation">
        <div class="container">
            <h1>Recreation:</h1>
            <div class=" list recreation">
            </div>
        </div>
    </section>

    <section class="bg-primary" id="Science">
        <div class="container">
            <h1>Science:</h1>
            <div class=" list science">
            </div>
        </div>
    </section>

    <section class="bg-primary" id="Sports">
        <div class="container">
            <h1>Sports:</h1>
            <div class=" list sports">
            </div>
        </div>
    </section>

    <section class="bg-primary" id="Society">
        <div class="container">
            <h1>Society:</h1>
            <div class=" list society">
            </div>
        </div>
    </section>

    <section class="organised-files">
        
    </section>
    <div class="page-scroll"></div>




    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/jquery.fittext.js"></script>
    <script src="/static/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/creative.js"></script>

    <script type="text/javascript" src="/static/js/main.js"></script>

</body>

</html>
